

/* Global Styles */
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|IBM+Plex+Mono|Poppins');



/* 
.navlinks {
  display: flex;
  color: black;
  flex-direction: row;
  justify-content: space-evenly;
} */

.unordered {
  color: orange;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;

}

.pizza {
  width: 50%;
  height: 400px;
  background: #333;
  color: #fff;
  font-size: 30px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.search {
  display: flex;
  background-color: orange;
}


.star-rating {
    display: flex;    
    justify-content: space-around;
    margin-left: 150px;
  }
  
  .star {
    cursor: pointer;
    width: 2em;
    height: 2em;
    background-color: grey;
    -webkit-clip-path: polygon(
      50% 0%,
      63% 38%,
      100% 38%,
      69% 59%,
      82% 100%,
      50% 75%,
      18% 100%,
      31% 59%,
      0% 38%,
      37% 38%
    );
    clip-path: polygon(
      50% 0%,
      63% 38%,
      100% 38%,
      69% 59%,
      82% 100%,
      50% 75%,
      18% 100%,
      31% 59%,
      0% 38%,
      37% 38%
    );
  }


  
  .star.selected {
    background-color: red;
  }
  
  p {
    flex-basis: 100%;
    text-align: left;
  }
  
  
  .button {
    display: inline-block;
    padding: 5px 5px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  


  .button-non-favorite {
    display: inline-block;
    padding: 5px 5px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: orangered;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }


  .add-button {
    background-color: red; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: center;
    

  }

  .h2ele {
    color: white
  }

  .link {
    color: #FFF;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: groove;
    border-color: orange;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    /* background-color: orange; */
  }

  .linkers {
    display: flex;
    flex: column;
    align-items: center;
    justify-content: space-evenly;
  }


  .title {
    display: flex;
    flex: column;
    align-items: center;
    justify-content: left;
    align-content: flex-start;
  }


  .text {
    color: white;
    display: flex;
    flex: column;
    align-items: center;
    justify-content: space-evenly;
  }
 
  .btn-btn-primary-btn-block {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: 15px;
    /* box-shadow: 0 9px #999; */
  }



  .btn-btn-primary-btn-block:hover {background-color: orangered}
  
  .btn-btn-primary-btn-block:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  


  .btn-btn-logout-btn-block {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: orangered;
    border: none;
    border-radius: 15px;
    /* box-shadow: 0 9px #999; */
  }

  .btn-btn-logout-btn-block:hover {background-color: red}  
  .btn-btn-logout-btn-block:active {
    background-color: orangered;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  

  .reviewz {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: groove;
    border-color: orange;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
  }


  .review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  